<h1>Purchase Orders</h1>
<% @purchase_orders.each do |purchase_order| %>
  <div class="well"><%= purchase_order.name %></div>
<% end %>
<%= paginate @purchase_orders %>
<%= page_entries_info @purchase_orders %>