
.navbar_styled {

  a {
    color: $white;
  }

  &:visited {
    color: $white;
  }

  &:hover {
    color: $gray-100;

  }

  .dropdown-menu {
    background-color: $white;
    margin-bottom: 10px;
    padding-left: 15px;
    color: black;

    a {
      color: $white;

      &:visited {
        color: $black;
      }

      &:hover {
        color: $gray-300;
        background-color: $white;
      }
    }
  }


  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }
}

.navbrand-logo-image {
  height: 30px;
  position: relative;
  top: 0px;
}



